DB_NAME=EXAMPLE
DB_USER=EXAMPLE
DB_PASSWORD=EXAMPLE
DB_PORT=EXAMPLE
DB_HOST=EXAMPLE
DATABASE_URL=EXAMPLE
API_URL=EXAMPLE
KC_HOSTNAME=EXAMPLE
KC_DB=EXAMPLE
KC_DB_URL=EXAMPLE
KC_DB_USERNAME=EXAMPLE
KC_DB_PASSWORD=EXAMPLE
KEYCLOAK_ADMIN=EXAMPLE
KEYCLOAK_ADMIN_PASSWORD=EXAMPLE