services:
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/src       
      - /src/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true