services:
  db:
    image: postgres:16-alpine
    restart: always
    env_file:
      - .env      
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./backend:/app/backend
    environment:
      - DATABASE_URL=postgresql://user_agenda:password_agenda@db:5432/agenda_db
      - ENV PYTHONDONTWRITEBYTECODE 1
      - ENV PYTHONUNBUFFERED 1
      - ENV PYTHONPATH=/app 
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/src
      - /src/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

volumes:
  postgres_data: